body {
    background-color: #e6ffe6;
    padding: 0 10%;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #343a40;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.align-text-right {
    text-align: right;
}

.setwidth {
    width: 95%;
}

.my-nav {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.my-content {
    background-color: white;    
    padding: 20px;
    border-radius: 10px;
}

.big-a {
    color: black;
}

.big-a:hover {
    color: grey;
    text-decoration: none;
}

.center {
    text-align: center;
}

.flex-left {
    width: 70px;
}

.flex-right {
    flex: 1;
}

.message-section {
    background: #b8deb8;
    border-radius: 5px;
    padding: 10px;
}

.comment-section {
    background: #e6ffe6;
    border-radius: 5px;
    padding: 5px;
}

.userdata-section {
    background: #e6ffe6;
    border-radius: 5px;
    padding: 5px;
    /*margin: 5px;*/
}

.text {
    margin: 0;
}

.center-form {
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: solid black 1px;
    margin: 10px;
}

.medium-profile-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 10px;
}

.small-profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 10px;
}

.search-width {
    width: 80%;
    max-width: 1000px;
}

.gallery-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
    opacity: 0.8;
    transition: 0.3s;
}

.gallery-preview:hover {
    cursor: pointer;
    opacity: 1;
}

.gallery-img {
    max-width: 100%;
}

.gallery-item {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: solid 1px #b8deb8;
}

.commenter-link {
    color: grey;
    font-weight: bold;
}

.commenter-link:hover {
    color: #bbbbbb;
    text-decoration: none;
}

.btn-xs, .btn-group-xs > .btn {
    max-width: 70px;
    padding: 0.15rem 0.3rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: 0.2rem;
    margin: auto;
}

.btn-xs + .dropdown-toggle-split, .btn-group-xs > .btn + .dropdown-toggle-split {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: grey;
    text-decoration: none;
}

[hidden] {
  display: none !important;
}

.card {
    border: none;
    width: 60%;
    max-width: 250px;
}

.card-body {
    padding: 0;
}

.card .small-profile-img {
    margin-left: 0;
}

@media( max-width: 1560px ) {
    .card {
        width: 80%;
    }
}

@media( max-width: 1230px ) {
    .card {
        width: 100%;
    }
}

@media( max-width: 1200px ) {
    .my-nav {
        margin: 0;
    }
    
    .my-pad {
        padding: 0;
    }
    
    .card {
        width: 80%;
    }
}

@media( max-width: 990px ) {
    .card {
        width: 60%;
    }
}