<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
        <title th:text="${title}">Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/style/style.css"/>
    </head>
    <body>
        <header th:fragment="header(currentUser)" class="container-fluid">
            <h1>OLD SCHOOL TWITTER!</h1>
            <form method="POST" th:action="@{/logout}" class="form-inline">
                <a th:href="@{/{username}(username=${currentUser})}" class="btn btn-link">Oma profiili</a> | 
                <a href="/kayttajat" class="btn btn-link">Etsi kavereita</a> |
                <input type="submit" name="logout" value="Kirjaudu ulos" class="btn btn-link" />
            </form>
        </header>

        <div th:fragment="listUsers(users, followedUsernames, title, id)" class="container-fluid my-content setwidth">
            <h1 th:text="${title}">Käyttäjät</h1>
            <label for="userSearch">Etsi käyttäjiä:</label>
            <input type="text" th:id="${id}" placeholder="Nimi" class="usersearch col-lg-3 col-md-5 col-sm-8 ml-2" />
            <div class="row justify-content-center" id="userList">
                <div th:each="user : ${users}" class="media col-12 userdata-section">
                    <img th:if="${user.profilePicture == null}" src="/img/default.jpg" class="profile-img" />
                    <img th:if="${user.profilePicture != null}" th:src="@{/{username}/kuvat/profiilikuva(username=${user.username})}" class="profile-img" />
                    <div class="media-body pl-3">
                        <h4 class="mt-3"><a th:href="@{/{id}(id=${user.username})}" th:text="${user.name}">NIMI</a></h4>
                        <p>@<span th:text="${user.username}" class="text">KÄYTTÄJÄNIMI</span></p>
                        <form th:if="${!currentUser.equals(user.username)}" th:id="'f_' + ${user.username}" class="follow">
                            <button th:id="'fb_' + ${user.username}" name="followUser" type="submit" class="btn btn-dark">
                                <span th:if="${!followedUsernames.containsKey(user.username)}" th:id="'fs_' + ${user.username}">Seuraa</span>
                                <span th:if="${followedUsernames.containsKey(user.username) && followedUsernames.get(user.username)}" th:id="'fs_' + ${user.username}">Peru pyyntö</span>
                                <span th:if="${followedUsernames.containsKey(user.username) && !followedUsernames.get(user.username)}" th:id="'fs_' + ${user.username}">Lopeta seuraaminen</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="profilePicture(isNull)" th:switch="${isNull}">
            <img th:case="null" src="/img/default.jpg" class="profile-img" />
            <img th:case="*" th:src="@{/{username}/kuvat/profiilikuva(username=${username})}" class="profile-img" />
        </div>

        <div th:fragment="profilePictureSmall(account)">
            <img th:if="${account.profilePicture == null}" src="/img/default.jpg" class="small-profile-img" />
            <a th:href="@{/{username}(username=${account.username})}">
                <img th:if="${account.profilePicture != null}" th:src="@{/{username}/kuvat/profiilikuva(username=${account.username})}"  class="small-profile-img" />
            </a>
        </div>

        <div th:fragment="timeStamp(date)">
            <p th:text="${#temporals.format(date, 'd.M.yyyy HH:mm')}" class="small text-muted ml-2">AIKA</p>
        </div>

        <footer th:fragment="footer">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/js/index.js"></script>
        </footer>

    </body>
</html>