<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${name})">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUsername})"></div>

        <button class="go-up">&uarr;</button>

        <div class="container-fluid m-3">

            <div>
                <h1 th:text="${galleryTitle}">KUVAT</h1>
            </div>

            <div class="mt-4">
                <a th:href="@{/{username}(username=${username})}" class="btn btn-sm btn-dark">Palaa takaisin seinälle</a>
            </div>

            <div th:if="${pictures.empty}">
                <p class="small text-muted">Ei vielä kuvia.</p>
            </div>
            <div th:if="${!pictures.empty}" class="container-fluid">
                <div th:each="picture : ${pictures}" class="row mt-5 mb-5 gallery-item" th:id="${picture.id}" >
                    <div class="col-lg-3 col-md-4 mb-md-0 mb-sm-3 center">
                        <img th:src="@{/{username}/kuvat/{id}(username=${username}, id=${picture.id})}" class="gallery-img" />
                        <form th:if="${friendStatus == 2 && picture.id != profilePictureId}" method="POST" th:action="@{/{username}/kuvat/profiilikuva(username=${username})}">
                            <button name="profilePictureId" th:value="${picture.id}" type="submit" class="btn btn-sm btn-dark mt-3">Aseta profiilikuvaksi</button>
                        </form>
                        <form th:if="${friendStatus == 2 && picture.id != profilePictureId}">
                            <button th:id="'dl-' + ${username} + '-' + ${picture.id}" type="submit" class="btn btn-sm btn-dark mt-3 delete-picture">Poista kuva</button>
                        </form>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div th:if="${picture.description.length() > 0}" class="message-section">
                            <p th:text="${picture.description}" class="text">KUVATEKSTI</p>
                        </div>
                        <div th:replace="fragments/layout :: likeSection(${picture}, 'picture', ${currentUser}, ${currentUserLikedPictures})"></div>
                        <div th:replace="fragments/layout :: commentSection(${picture.comments.size()}, ${picture.getLatest10()}, ${picture.id})"></div>
                        <div th:replace="fragments/layout :: sendComment(${username}, ${currentUser}, ${picture}, 'picture')"></div>
                    </div>
                </div>
            </div>


            <div th:if="${friendStatus == 2}" class="m-3">

                <hr /> 

                <p th:if="${currentUser.pictures.size() >= 10}">Sinulla on jo maksimimäärä kuvia. Et voi lisätä enempää kuvia.</p>

                <div th:if="${currentUser.pictures.size() < 10}">
                    <h4>Lisää kuva</h4>
                    <form method="POST" th:action="@{/{username}/kuvat(username=${username})}" enctype="multipart/form-data" class="form-group picture-send">
                        <p><input type="file" name="file" id="file" accept="image/*" class="form-control-file picture-add-from-file" />
                            <small id="fileHelp" class="form-text size-ins text-muted">Kuvan maksimikoko 1 MB.</small>
                            <small class="text-danger size-alert d-none">Kuva on liian suuri! Kuvan maksimikoko on 1 MB.</small>
                        </p>
                        <textarea name="description" placeholder="Kerro kuvasta jotain..." id="description" class="form-control" rows="3"></textarea>
                        <input type="submit" value="Lisää" class="btn btn-sm btn-dark mt-2 ml-1 ps-btn" />
                    </form>
                </div>
            </div>

        </div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
