<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${name})">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUsername})"></div>

        <div class="m-3">
            <h1 th:text="${name}">OMA NIMI</h1>
            <a th:href="@{/{username}(username=${username})}">Palaa takaisin seinälle</a>
        </div>

        <div class="m-3">
            <h2>Kuvagalleria</h2>
            <div th:if="${pictures.empty}">
                <p class="small text-muted">Ei vielä kuvia.</p>
            </div>
            <div th:if="${!pictures.empty}" class="container-fluid">
                <div th:each="picture : ${pictures}" class="row mt-5 mb-5 gallery-item">
                    <div class="col-lg-3 col-md-4 center">
                        <img th:src="@{/{username}/kuvat/{id}(username=${username}, id=${picture.id})}" class="gallery-img" />
                        <form th:if="${friendStatus == 2 && picture.id != profilePictureId}" method="POST" th:action="@{/{username}/profilepicture(username=${username})}">
                            <button name="profilePictureId" th:value="${picture.id}" type="submit" class="btn btn-sm btn-dark mt-3">Aseta profiilikuvaksi</button>
                        </form>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div>
                            <p th:text="${picture.description}" class="text">KUVATEKSTI</p>
                            <p th:text="'Tykkääjiä: ' + ${picture.likes.size()}" class="text mb-2 mr-sm-2">TYKKÄÄJIÄ</p>
                            <form th:if="${friendStatus == 1}" method="POST" th:action="@{/{username}/kuvat/like(username=${username})}" class="form-inline">
                                <button name="pictureId" th:value="${picture.id}" type="submit" class="btn btn-dark btn-sm mb-2 mr-sm-2">
                                    <span th:text="${!currentUserLikedPictures.contains(picture)} ? 'Tykkää' : 'En tykkääkään'">Tykkäätkö?</span>
                                </button>
                            </form>
                        </div>
                        <div>
                            <div>
                                <h6>Kommentit</h6>
                                <p th:if="${picture.comments.size() == 0}" class="small text-muted">Ei vielä kommentteja.</p>
                                <p th:if="${picture.comments.size() > 10}" class="small text-muted">Näytetään 10 uusinta kommenttia yhteensä <span th:text="${picture.comments.size()}">MÄÄRÄ</span> kommentista.</p>
                                <div th:each="comment,iStat : ${picture.comments}">
                                    <div th:if="${iStat.count > iStat.size - 10}" class="media">
                                        <div th:replace="fragments/layout :: profilePictureSmall(${comment.commenter})"></div>
                                        <div class="media-body">
                                            <div class="comment-section">
                                                <p class="text">
                                                    <a th:href="@{/{username}(username=${comment.commenter.username})}" th:text="${comment.commenter.name}">KOMMENTOIJA</a>
                                                    <span th:if="${iStat.count > iStat.size - 10}" th:text="${comment.comment}">KOMMENTTI</span>
                                                </p>
                                            </div>
                                            <div th:replace="fragments/layout :: timeStamp(${comment.timeSent})"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="flex-left">
                                            <div th:replace="fragments/layout :: profilePictureSmall(${currentUser})"></div>
                                        </div>
                                        <div class="flex-right">
                                            <form method="POST" th:action="@{/{username}/kuvat/comment(username=${username})}">
                                                <textarea name="commentText" placeholder="Kirjoita kommentti..." id="newComment" class="form-control" rows="3"></textarea>
                                                <button name="pictureId" th:value="${picture.id}" type="submit" class="btn btn-sm btn-dark mt-2 ml-1">Lähetä</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${friendStatus == 2}" class="m-3">
            <h4>Lisää kuva</h4>
            <form method="POST" th:action="@{/{username}/kuvat(username=${username})}" enctype="multipart/form-data" class="form-group">
                <label class="btn btn-sm btn-dark">
                    Valitse kuva... <input type="file" name="file" id="file" accept="image/*">
                </label>
                <textarea name="description" placeholder="Kerro kuvasta jotain..." id="description" class="form-control" rows="3"></textarea>
                <input type="submit" value="Lisää" class="btn btn-sm btn-dark mt-2 ml-1" />
            </form>
        </div>

        <hr />

        <div>
            <p>Kirjautunut sisään käyttäjänä: <span th:text="${currentUsername}">KÄYTTÄJÄ</span></p>
        </div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
