<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Twitter 0.0</title>
    </head>
    <body>
        
        <div th:replace="fragments/layout :: header"></div>

        <h1>Tämä on etusivu.</h1>
        <p>Täältä voi vaikka kirjautua sisään. Jee.</p>
        
        <p>Kirjautunut sisään: <span th:text="${username}">username</span></p>
        
        <p><a href="/users">Kirjaudu sisään</a></p>


    </body>
</html>
