<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Kuukkeli')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUsername})"></div>

        <div class="container-fluid">
            <div class="row mb-5 mt-5">
                <div class="col-12">
                    <a href="/login"><button type="submit" class="btn btn-dark">Kirjaudu sisään</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Uusi käyttäjä?</h4>
                    <a th:href="@{/rekisteroidy}"><button class="btn btn-dark">Rekisteröidy</button></a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
