<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Rekisteröidy')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUsername})"></div>

        <div class="container-fluid my-content setwidth">

            <div th:if="${!isRegistered}">
                
                <form method="POST" th:action="@{/rekisteroidy}" th:object="${accountData}"> <!---->

                    <div class="form-group">
                        <div class="col-lg-5 col-md-8 col-sm-10">
                            <label for="name">Nimi</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Etunimi Sukunimi" />
                            <section th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Virheviesti</section>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-5 col-md-8 col-sm-10">
                            <label for="username">Käyttäjätunnus</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="tunnus" />
                            </div>
                            <section th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Virheviesti</section>
                            <section th:if="${!uniqueUsername}" class="text-danger">Tämä käyttäjätunnus on jo käytössä!</section>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-5 col-md-8 col-sm-10">
                            <label for="password">Salasana</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" /> <!---->
                            <section th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Virheviesti</section>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark ml-3">Rekisteröidy</button>
                </form>

            </div>

            <div th:if="${isRegistered}" class="m-3">
                <p>Olet jo rekisteröitynyt. Jos haluat luoda uuden käyttäjätilin, kirjaudu ensin ulos.</p>
                <form method="POST" th:action="@{/logout}">
                    <input type="submit" name="logout" value="Kirjaudu ulos" class="btn btn-dark" />
                </form>
            </div>

        </div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>