<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Twitter 0.0</title>
    </head>
    <body>
        
        <div th:replace="fragments/layout :: header"></div>

        <div th:if="${!isRegistered}">
            <h1>Rekisteröidy</h1>
            <form method="POST" th:action="@{/register}">
                Käyttäjänimi: <input type="text" name="username" id="username" /><br/>
                Nimi: <input type="text" name="name" id="name" /><br/>
                Salasana: <input type="password" name="password" id="password" /><br/>
                <input type="submit"/>            
            </form>
        </div>
        
        <div th:if="${isRegistered}">
            <p>Olet jo rekisteröitynyt! Jos haluat luoda uuden käyttäjätilin, kirjaudu ensin ulos.</p>
            <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Kirjaudu ulos"/></form>
        </div>

    </body>
</html>