<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Kuukkeli')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUser})"></div>

        <button class="go-up">&uarr;</button>

        <div th:switch="${whatToShow}">
            <div th:case="0">
                <div th:replace="fragments/layout :: listUsers(users=${users}, followedUsernames=${followedUsernames}, title=${title}, id=${id})"></div>
            </div>
            <div th:case="1">
                <div th:replace="fragments/layout :: listFollowees(follows=${follows}, followedUsernames=${followedUsernames}, title=${title}, id=${id})"></div>
            </div>
            <div th:case="2">
                <div th:replace="fragments/layout :: listFollowers(follows=${follows}, followedUsernames=${followedUsernames}, title=${title}, id=${id})"></div>
            </div>
        </div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
