<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${name}">OMA NIMI</title>
    </head>
    <body>

        <h1 th:text="${name}">OMA NIMI</h1>
        <div th:switch="${friendStatus}">
            <form th:case="-1" method="POST" th:action="@{/{username}/follow(username=${username})}"><input type="submit" name="follow" value="Seuraa"/></form>
            <form th:case="0" method="POST" th:action="@{/{username}/unfollow(username=${username})}"><input type="submit" name="unfollow" value="Peru seuraamispyyntö"/></form>
            <form th:case="1" method="POST" th:action="@{/{username}/unfollow(username=${username})}"><input type="submit" name="unfollow" value="Lopeta seuraaminen"/></form>
            <div th:switch="${profilePicture}">
                <img th:case="null" src="/img/default.jpg" width="100" />
                <img th:case="*" th:src="@{/{username}/kuvat/{id}(username=${username}, id=${profilePicture.id})}" width="100" />
            </div>
        </div>

        <div>
            <span th:text="${userFollowsWho}">KEITÄ</span>:
            <ul>
                <li th:each="user : ${followees}" th:if="${!user.pending}">
                    <a th:href="@{/{username}(username=${user.followee.username})}" th:text="${user.followee.name} + ' (since ' + ${user.startOfFollow} + ')'">SEURAAJA</a>
                </li>
            </ul>
        </div>

        <div>
            <span th:text="${whoFollowsUser}">KETKÄ</span>:
            <ul>
                <li th:each="user : ${followers}" th:if="${!user.pending}">
                    <a th:href="@{/{username}(username=${user.follower.username})}" th:text="${user.follower.name} + ' (since ' + ${user.startOfFollow} + ')'">SEURATTAVA</a>
                </li>
            </ul>
        </div>

        <div th:if="${friendStatus == 2}">
            <p>Kirjoita viesti!</p>
            <form method="POST" th:action="@{/{username}/messages(username=${username})}">
                Viesti: <input type="text" name="messageText" id="newMessage"/><br/>
                <input type="submit"/>            
            </form>
        </div>

        <hr />

        <div th:if="${friendStatus >= 1}">
            <div>
                <h2>Viestit:</h2>
                <div th:each="message : ${messages}" style="border: 1px black solid">
                    <p th:text="${message.message} + ' (' + ${message.timeSent} + ')'">VIESTI JA AIKA</p>
                    <p th:text="${message.owner.name}">LÄHETTÄJÄ</p>
                    <p th:text="'Tykkääjiä: ' + ${message.likes.size()}">TYKKÄÄJIÄ</p>
                    <p>Tykkääjät:</p>
                    <ul th:each="like : ${message.likes}">
                        <li><a th:href="@{/{username}(username=${like.username})}" th:text="${like.name}">TYKKÄÄJÄ</a></li>
                    </ul>
                    <p>Kommentit:</p>
                    <ul th:each="comment : ${message.comments}">
                        <li th:text="${comment.comment}">KOMMENTTI</li>
                        <ul>
                            <li><a th:href="@{/{username}(username=${comment.commenter.username})}" th:text="${comment.commenter.name}">KOMMENTOIJA</a> (<span th:text="${comment.timeSent}">AIKA</span>)</li>
                        </ul>
                    </ul>
                    <form th:if="${friendStatus == 1}" method="POST" th:action="@{/{username}/messages/like(username=${username})}">
                        <button name="messageId" th:value="${message.id}" type="submit">
                            <span th:text="${!currentUserLikedMessages.contains(message)} ? 'Tykkää' : 'Enpäs tykkää'">Tykkäätkö?</span>
                        </button>
                    </form>
                    <form th:if="${friendStatus >= 1}" method="POST" th:action="@{/{username}/messages/comment(username=${username})}">
                        Kommentoi: <input type="text" name="commentText" id="newComment"/>
                        <button name="messageId" th:value="${message.id}" type="submit">Lähetä kommentti!</button>
                    </form>
                </div>
            </div>

            <hr />

            <div>
                <h2>Kuvat:</h2>
                <p><a th:href="@{/{username}/kuvat(username=${username})}">Kuvagalleriaan</a></p>
                <div th:each="picture : ${pictures}" style="border: 1px black solid">
                    <a th:href="@{/{username}/kuvat(username=${username})}"><img th:src="@{/{username}/kuvat/{id}(username=${username}, id=${picture.id})}" width="100" /></a>
                </div>
            </div>
        </div>

        <hr />

        <div>
            <p>Kirjautunut sisään käyttäjänä: <span th:text="${currentUsername}">KÄYTTÄJÄ</span></p>
            <form method="POST" th:action="@{/logout}"><input type="submit" name="logout" value="Kirjaudu ulos"/></form>
        </div>


    </body>
</html>
