<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${name}">OMA NIMI</title>
    </head>
    <body>

        <h1 th:text="${name}">OMA NIMI</h1>
        <form th:if="${!isOwnProfile && !isFriend}" method="post" action="#" th:action="@{/users/{username}/follow(username=${username})}"><input type="submit" name="follow" value="Seuraa"/></form>
        <form th:if="${!isOwnProfile && isFriend}" method="post" action="#" th:action="@{/users/{username}/unfollow(username=${username})}"><input type="submit" name="unfollow" value="Lopeta seuraaminen"/></form>
        <img th:src="@{/users/{id}/profilepicture(id=${username})}" width="100" />

        <div th:if="${isOwnProfile}">
            <p>Lisää profiilikuva:</p>
            <form method="POST" th:action="@{/users/{username}/profilepicture(username=${username})}" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <input type="submit" value="Lisää"/>
            </form>
        </div>

        <div>
            <span th:text="${userFollowsWho}">KUKA</span>:
            <ul>
                <li th:each="user : ${followees}">
                    <a th:href="@{/users/{id}(id=${user.followee.username})}" th:text="${user.followee.name} + ' (since ' + ${user.startOfFollow} + ')'">SEURAAJA</a>
                </li>
            </ul>
        </div>

        <div>
            <span th:text="${whoFollowsUser}">KETÄ</span>:
            <ul>
                <li th:each="user : ${followers}">
                    <a th:href="@{/users/{id}(id=${user.follower.username})}" th:text="${user.follower.name} + ' (since ' + ${user.startOfFollow} + ')'">SEURATTAVA</a>
                </li>
            </ul>
        </div>

        <div th:if="${isOwnProfile}">
            <p>Kirjoita viesti!</p>
            <form th:action="@{/users/{username}/messages(username=${username})}" method="POST">
                Viesti: <input type="text" name="messageText" id="newMessage"/><br/>
                <input type="submit"/>            
            </form>
        </div>

        <div>
            <p>Aiemmat viestit:</p>
            <ul>
                <li th:each="message : ${messages}">
                    <span th:text="${message.message} + ' (' + ${message.timeSent} + ')'">VIESTI JA AIKA</span>
                    <span th:if="${!isOwnProfile}">TYKKÄYSNAPPI TULEE TÄHÄN</span>
                </li>
            </ul>
        </div>

        <div>
            <p>Kuvat:</p>
            <ul>
                <li th:each="picture : ${pictures}">
                    <img th:src="@{/pictures/{id}(id=${picture.id})}" width="100" />
                </li>
            </ul>
        </div>

        <div>
            <p>Kirjautunut sisään käyttäjänä: <span th:text="${currentUsername}">KÄYTTÄJÄ</span></p>
            <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Kirjaudu ulos"/></form>
        </div>


    </body>
</html>
