<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Twitter 0.0')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(currentUser=${currentUser})"></div>
        
        <div th:replace="fragments/layout :: listUsers(users=${users}, followedUsernames=${followedUsernames}, title=${title}, id=${id})"></div>

        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
